.resultado_login{
    display: none;
    float: right;
    padding: 20px 20px;
    margin-bottom: 30px;
    background-color: #05f;
    color: #fff;
    font-size: 1.4em;
}
.pf_load{
    display: none;
    padding-left: 200px;
}

.btn-success{
    width: 150px;
}

.btn-danger{
    width: 150px;
}

.btn-warning{
    width: 150px;
}

.btn-primary{
    width: 150px;
}

.btn-default{
    width: 150px;
}

.alert-success{
    display: none;
}

.alert-warning{
    display: none;
}

.alert-danger{
    display: none;
}
.alert-info{
    display: none;
}

#nao_pagas{
    display: none;
}

#todas{
    display: none;
}

.obrigatorios{
    color: red;
}

.editar{
    width: 50px;
}

#deletar{
    width: 50px;
}

#pesquisar{
    width: 50px;
}

#imprimir{
    width: 50px;
}

#fundo{
    background-color: #e6e6e6;
}

/* Estilos das modals de Create e Update */
.modal-create{
    display: none;
}

.modal-update{
    display: none;
}

.close-modal-create{
    display: none;
}

.close-modal-update{
    display: none;
}

